.aside-header {
  position: fixed;
  top: 0;
  right: -60rem;
  padding: 3rem;
  opacity: 0;
  width: 40rem;
  max-width: 90%;
  background: var(--color-foam);
  border-radius: 0 0 0 20px;
  transition: all 0.8s;
  z-index: 100;
  &__working {
    margin: 2rem 0;
  }
  &__menu-list {
    flex-direction: column;
  }
  &__menu-item:not(:last-child) {
    margin-bottom: 1rem;
  }
  &__contacts-social {
    margin: 1.5rem 0;
  }
  &__contacts-phones {
    text-align: center;
  }
  &__phone-btn {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
}
.aside-footer {
  position: fixed;
  bottom: 0;
  right: -60rem;
  padding: 3rem;
  opacity: 0;
  width: 30rem;
  max-width: 90%;
  background: var(--color-foam);
  border-radius: 20px 0 0 0;
  transition: all 0.8s;
  z-index: 100;
  &__menu-list {
    flex-direction: column;
  }
  &__menu-item {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
  &__menu-link {
  }
}
.aside-active {
  right: 0;
  opacity: 1;
}
