.licenses {
  padding: 11.4rem 0 3.4rem 0;
  &__slider {
    margin-top: 3rem;
    position: relative;
  }
}
.licenses-slider {
  &__wrapper {
    overflow: hidden;
  }
  &__container {
    display: flex;
    transition: all 0.8s ease;
  }
  &__slide {
    min-width: 25%;
  }
  &__button {
    background: #bdf8f9;
    top: 50%;
    transform: translate(0, -50%);
  }
  &__button-prev {
    left: 0;
  }
  &__button-next {
    right: 0;
  }
  &__dots {
    bottom: -3.4rem;
  }
}
