.reviews {
  &__slider {
    position: relative;
    margin-top: 3rem;
  }
  &__btn-vk {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.18em;
    position: absolute;
    right: 0;
    bottom: -5.6rem;
    & img {
      margin-left: 1rem;
    }
  }
}
.reviews-slider {
  &__container {
    overflow: hidden;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: calc(50% - (30px / 2));
    background: #f3fefe;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 4rem 3rem 3.5rem 3rem;
    position: relative;
  }
  &__item-content {
    margin: 0 0 2rem 3.1rem;
  }
  &__item-title {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.2em;
    margin-bottom: 0.83em;
  }
  &__item-text {
    font-size: 1.8rem;
    line-height: 140%;
  }
  &__item-img {
    min-width: 16rem;
  }
  &__item-data {
    position: absolute;
    right: 3rem;
    bottom: 2rem;
    font-size: 1.6rem;
    line-height: 140%;
  }
  &__dots {
    bottom: -5.4rem;
  }
  &__button {
    background: #bdf8f9;
    top: 50%;
    transform: translate(0, -50%);
  }
  &__button-left {
    left: -20px;
  }
  &__button-right {
    right: -20px;
  }
}
